<div class="container">
<h1>New Articulo</h1>
  <%= form_with model: @article do |t| %>
    <%= t.label :title %>
    <%= t.text_field :title %>
    <%= t.label :content %>
    <%= t.text_field :content %>
    <%= t.submit %>
<% end %>
<p><%= link_to "Back", articles_path %></p>
</div>
